
@{
    ViewBag.Title = "title";
}

<h2>Export to Excel</h2>

<ul>
    <li>@Html.ActionLink("Sample with specific columns and formatting", "SampleDownload1")</li>
    <li>@Html.ActionLink("Sample overriding default file name", "SampleDownload2")</li>
    <li>@Html.ActionLink("Sample without specifying columns", "SampleDownload3")</li>
    <li>@Html.ActionLink("Sample with specific columns without formatting", "SampleDownload4")</li>
    <li>@Html.ActionLink("Sample with specific headers and formatting", "SampleDownload5")</li>
</ul>